*.bz2
$tf/*
*.bi
*.bsc
*.cache
*.cson
*.db
*.iobj
*.ipch
*.ipdb
*.ilk
*.kdev4
*.lastbuildstate
*.lnk
*.obj
*.opensdf
*.orig
*.pch
*.pdb
*.pgd
*.pst
*.resources
*.sdf
*.suo
*.swp
*.temp
*.tlog
*.tmp
*.user
unsuccessfulbuild
*.VC.db
*.VC.opendb
*.vcxproj.user
*.vspscc
*.vssscc
**/.vs/*
**/.vscode/*
**/Bin/*
**/.nuget/*
**/Release*
**/Debug*
**/build/*
**/build-*
download
backup
.idea
*.index
**/cmake-*
demo_out.*
sample_scripts/*.dot
sample_scripts/*.png
log.txt
xcode/*
*.crdownload
latest-all*.json
mkdocs/docs/missing-superclass/
mkdocs/site
/*.svg
/*.dot
/*.html
perf.data
constraints*/
load.log
/*.json
/*.bin
sample_scripts/all_membership.json
sample_scripts/mammal_species.json
sample_scripts/mammals.json